*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.395), rgba(255, 255, 255, 0.395)), url(./assets/bg-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(75, 38, 20);
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo img{
    width: 80px;
    height: 80px;
    padding-left: 40px;
}
.anchor-tags{
    margin-top: 20px;
    padding-right: 60px;
}
.anchor-tags a{
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 20px;
    color: rgb(75, 38, 20);
    background-color: #ffffff6b;
}

/* media queries for small screen */
@media(max-width: 1000px){
    #logo img{
        width: 70px;
        height: 70px;
        padding-right: 30px;
    }
    .anchor-tags{
        padding-right: 50px;
    }
    .anchor-tags a{
        padding: 10px 10px;
    }
}
/* tabs */
@media(max-width: 780px){
    #logo img{
        width: 60px;
        height: 60px;
        padding-right: 20px;
    }
    .anchor-tags{
        padding-right: 40px;
    }
    .anchor-tags a{
        font-size: 2.7vh;
        padding: 5px 5px;
    }
}
/* mobile phones */
@media(max-width: 420px){
    #logo img{
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }
    .anchor-tags{
        padding-right: 30px;
    }
    .anchor-tags a{
        font-size: 1.7vh;
        padding: 5px 5px;
    }
}